.tablee {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    text-align: center;
    margin-left:300px;
  }
    button{
      margin-left:-560px;
      margin-top:60px;
    }
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }