.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4%;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
}

.logo>img {
    width: 3rem;
    height: 3rem;
}

.logo>span>span {
    color: var(--pink);
}

.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuItem {
    display: flex;
    position: relative;
    gap: 1rem;
    align-items: center;
    height: 3rem;
    margin-left: 2rem;
    transition: all 300ms ease;
    font-size: 15px;
    border-radius: 0.7rem;
}

.menuItem:hover {
    cursor: pointer;
}

.menu .menuItem:last-child {
    position: absolute;
    bottom: 2.3rem;
    width: 100%;
}

.active {
    background: var(--activeItem);
    margin-left: 0;
}

.active::before {
    content: '';
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
}

